*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #222;
    background: #fefefe;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
}

header, footer {
    padding: 1em;
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

h2 {
    font-size: 2.5rem;
    font-weight: bolder;
}

button {
    padding: 0.25em 2em;
    cursor: pointer;
}

input {
    padding: 0.25em;
}