.about-page ul {
    padding-inline-start: 2rem;
    list-style-type: disc;
}

.about-page h2:not(:first-child) {
    margin-block-start: 1rem;
}

.about-page a, .about-page a:visited {
    color: inherit;
}

#import-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;
    border: 1px solid var(--c-text);
    border-radius: 0.5rem;
    transition: all .1s;
    transition-behavior: allow-discrete;
    opacity: 0;
}

#import-modal:open {
    opacity: 1;
}

#import-modal::backdrop {
    background-color: rgb(0 0 0 / .5);
}

#import-modal input {
    margin-block: 1rem;
    max-width: 100%;
}

body:has(#import-modal:open) {
    overflow: hidden;
}
