.app-card {
    text-decoration: none;
}

.app-card a {
    color: inherit;
    text-decoration: none;
}

.app-card a:hover {
    text-decoration: underline;
}

.logo-box {
    background: linear-gradient(to bottom in oklch, #22222280, var(--c-pr));
    color: white;
    padding: 0px 0.5rem;
    border-radius: 0.5rem;
}
